name: CI/CD Process
on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.28
      - uses: DanySK/build-check-deploy-gradle-action@4.0.21
        with:
          # Dry-deployment
          deploy-command: >-
            ./gradlew
            publishAllPublicationsToProjectLocalRepository
            zipMavenCentralPortalPublication 
            releaseMavenCentralPortalPublication
            --dry-run
          should-deploy: true
          should-run-codecov: false
          maven-central-username: ${{ secrets.MAVEN_USERNAME }}
          maven-central-password: ${{ secrets.MAVEN_PASSWORD }}
          signing-key: ${{ secrets.SIGNING_KEY }}
          signing-password: ${{ secrets.SIGNING_PASSWORD }}
  test-extensively:
    needs:
      - build
    if: github.ref_name != 'master' || github.event.commits[0].author.name != 'renovate[bot]'
    uses: ./.github/workflows/test-extensively.yml
  release:
    permissions:
      contents: write
      packages: write
    needs:
      - build
      - test-extensively
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          token: ${{ secrets.DEPLOYMENT_TOKEN }}
      - name: Install Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: package.json
      - uses: DanySK/build-check-deploy-gradle-action@4.0.21
        with:
          retries-on-failure: '1'
          build-command: true
          check-command: true
          deploy-command: |
            npm install
            npx semantic-release
          should-run-codecov: false
          should-deploy: true
          npm-token: ${{ secrets.NPM_TOKEN }}
          github-token: ${{ github.token }}
          maven-central-username: ${{ secrets.MAVEN_USERNAME }}
          maven-central-password: ${{ secrets.MAVEN_PASSWORD }}
          signing-key: ${{ secrets.SIGNING_KEY }}
          signing-password: ${{ secrets.SIGNING_PASSWORD }}
  success:
    runs-on: ubuntu-24.04
    needs:
      - release
      - build
      - test-extensively
    if: >-
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
